{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/matches.css' %}">
{% endblock %}

{% block title %}Active Matches | Photo Buddy{% endblock %}

{% block content %}
<section class="matches-section">
    <div class="container">
        <h2 class="section-title">🟢 Active Matches</h2>
        <h2>Your Matches</h2>

        {% for match in matches %}
                {% if match.user1 == request.user %}
                    {% with other_user=match.user2 %}
                {% else %}
                    {% with other_user=match.user1 %}
                {% endif %}

                <div>
                    <a href="{% url 'chat_room' match.id %}">{{ other_user.username }}</a>
                </div>

                {% endwith %}
            {% endfor %}
        {% empty %}
            <p>No matches yet.</p>


    </div>
</section>
{% endblock %}
