{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/matches.css' %}">
{% endblock %}

{% block title %}Match Requests | Photo Buddy{% endblock %}

{% block content %}
<section class="matches-section">
    <div class="container">
        <h2>Match Requests</h2>

            <h3>Received Requests</h3>
            {% for r in received %}
                <div>
                    <p>{{ r.sender.username }} sent you a request</p>

                    <a href="{% url 'accept_request' r.id %}">
                        <button>Accept</button>
                    </a>

                    <a href="{% url 'decline_request' r.id %}">
                        <button>Decline</button>
                    </a>
                </div>
                <hr>
            {% empty %}
                <p>No incoming requests.</p>
            {% endfor %}

            <h3>Sent Requests</h3>
            {% for r in sent %}
                <div>
                    <p>You sent request to {{ r.receiver.username }} - Status: {{ r.status }}</p>
                </div>
            {% empty %}
                <p>No sent requests.</p>
            {% endfor %}
    </div>
</section>
{% endblock %}
