{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/matches.css' %}">
{% endblock %}

{% block title %}Match Requests | Photo Buddy{% endblock %}

{% block content %}
<section class="matches-section">
    <div class="container">
        <h2 class="section-title">📨 Match Requests</h2>
        <h2>Incoming Match Requests</h2>
        {% if match_requests %}
            {% for req in match_requests %}
                <div>
                    <p><strong>{{ req.sender.username }}</strong> wants to match with you</p>

                    <a href="{% url 'accept_match' req.id %}">✔ Accept</a>
                    <a href="{% url 'decline_match' req.id %}" style="color:red;">✖ Decline</a>
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <p>No new match requests.</p>
        {% endif %}

    </div>
</section>
{% endblock %}
