{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/chat.css' %}">

<div class="chat-container">

<div class="chat-header">

{% if request.user == room.user1 %}
    
    {% if room.user2.profile_picture %}
        <img src="{{ room.user2.profile_picture.url }}">
    {% else %}
        <img src="{% static 'images/default-avatar.png' %}">
    {% endif %}

{% else %}

    {% if room.user1.profile_picture %}
        <img src="{{ room.user1.profile_picture.url }}">
    {% else %}
        <img src="{% static 'images/default-avatar.png' %}">
    {% endif %}

{% endif %}
<span>
{% if request.user == room.user1 %}
{{ room.user2.username }}
{% else %}
{{ room.user1.username }}
{% endif %}
</span>

</div>

<div id="chat-box" class="chat-messages"></div>

<div class="chat-input-bar">

<input type="file" id="image" style="display:none" onchange="previewImage()">

<span class="image-btn" onclick="document.getElementById('image').click()">+</span>

<input type="text" id="text" placeholder="Message...">

<button onclick="sendMessage()">Send</button>

</div>

<div id="preview"></div>

</div>

<script>

function loadMessages(){

fetch("/chat/room/{{ room.id }}/messages/")
.then(response=>response.json())
.then(data=>{

let box=document.getElementById("chat-box");
box.innerHTML="";

data.forEach(m=>{

let isMe=m.sender==="{{ request.user.username }}";

let row=document.createElement("div");
row.className="message-row " + (isMe ? "sent" : "received");

let bubble=document.createElement("div");
bubble.className="message-bubble";

let content="";

if(m.text){
content+=m.text;
}

if(m.image){

content+=`
<br>
<a href="${m.image}" download>
<img src="${m.image}">
</a>
`;

}

bubble.innerHTML=content;

row.appendChild(bubble);

box.appendChild(row);

});

box.scrollTop=box.scrollHeight;

});

}

function sendMessage(){

let text=document.getElementById("text").value;
let image=document.getElementById("image").files[0];

let formData=new FormData();

formData.append("text",text);

if(image){
formData.append("image",image);
}

fetch("/chat/room/{{ room.id }}/send/",{

method:"POST",

headers:{
"X-CSRFToken":"{{ csrf_token }}"
},

body:formData

})
.then(()=>{

document.getElementById("text").value="";
document.getElementById("image").value="";
document.getElementById("preview").innerHTML="";

loadMessages();

});

}

function previewImage(){

let file=document.getElementById("image").files[0];
let preview=document.getElementById("preview");

preview.innerHTML="";

if(file){

let img=document.createElement("img");

img.src=URL.createObjectURL(file);

preview.appendChild(img);

}

}

setInterval(loadMessages,1000);

window.onload=loadMessages;

</script>

{% endblock %}