{% extends 'base.html' %}

{% block title %}Email Sent | Photo Buddy{% endblock %}

{% block content %}
<section class="auth-section">
    <div class="container">
        <div class="auth-wrapper">
            <div class="auth-card glass-card fade-up">
                <h2 class="card-header">Check your email</h2>
                <p class="auth-subtitle">
                    We’ve emailed you instructions for setting your password.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}